* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(23, 41, 56);
    transition-duration: 0.3s;
}

.container {
    width: 50vw;
    max-width: 300px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #E3F4F4;
    border-radius: 50px;
    border: 5px solid #374259;
    flex-direction: column;
}

.color {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

label, p {
    margin: 20px;
    color: #374259;
}

.hex {
    font-size: 1.5rem;
}