* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background-color: #2b807b;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-container {
    height: 13rem;
    width: 25rem;
    background-color: #ffffff;
    border: 3px solid black;
    border-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

#color-indicator {
    font-size: 5rem;
    font-weight: bold;
    color: #222;
}

#color-button {
    font-size: 2rem;
    background-color: #222;
    color: white;
    border: 3px solid #222;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 20px;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

#color-button:hover {
    background-color: #4e4e4e;
}

#color-button:active {
    background-color: #222;
}
