* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/library.jpg) no-repeat center center/ cover;
}

.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 80vw;
    max-width: 600px;
    min-height: 500px;
    padding: 20px;
    background-color: #fff;
    border: 5px solid #000;
    border-radius: 30px;
}

.secondary-container {
    width: 80%;
}

#title {
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
}

#quote {
    font-size: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

#author {
    width: 100%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-style: italic;
}

#button-change-quote {
    width: 180px;
    height: 50px;
    font-size: 20px;
}
